@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Lobster');

html {
  scroll-behavior: smooth;
}

.header-area {
  position: relative;
  height: 100vh;
  background: url(https://i.ibb.co/zfxDwcW/Whats-App-Image-2021-02-24-at-21-10-52.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repear;
  background-size: cover;
}

.banner {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  color: #fff;
  text-align: center;
  z-index: 1;
  text-shadow: 2px 1px 4px #000;
}

.banner h1 {
  font-size: 55px;
}

.banner p {
  font-size: 25px;
}

.button {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 25px;
  border-radius: 4px;
}
.button-primary {
  position: relative;
  background-color: rgb(0 , 200 , 255);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  transition: color 0.3s ease-in;
  z-index: 1;
}

.button-primary:hover {
  color: rgb(0 , 200 , 255);
  text-decoration: none;
}

.button-primary::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  border-radius: 4px;
  opacity: 0;
  -webkit-transform: scaleX(0.8);
  -ms-transform: scaleX(0.8);
  transform: scaleX(0.8);
  transition: all 0.3s ease-in;
  z-index: -1;
}

.button-primary:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar {
  position: absolute;
  background: rgba(0, 0, 0, 0.200);
  left: 0;
  top: 0;
  padding: 10px 10%;
  width: 100%;
  transition: background 0.6s ease-in;
  z-index: 99999;
  text-shadow: 2px 1px 4px #000;
  font-weight: bold;
}

.navbar a {
  font-size: 20px;
}

.navbar a:focus {
  outline: none;
}

.navbar-nav {
  margin-left: 80%;
}

.navbar .navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 25px;
}

.navbar .dropdown-menu {
  padding: 0;
  background-color: rgba(0, 0, 0, .9);
}

.navbar .dropdown-menu .dropdown-item {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.4rem;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  transition: color 0.2s ease-in;
}

.navbar .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
}

.navbar .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: #0076fd;
}

.navbar .dropdown-menu .dropdown-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: #0076fd;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.navbar .dropdown-menu .dropdown-item:hover::before {
  opacity: 1;
}

.navbar.fixed-top {
  position: fixed;
  -webkit-animation: navbar-animation 0.6s;
  animation: navbar-animation 0.6s;
  background-color: rgba(0, 0, 0, .9);
}

.navbar.fixed-top.navbar-dark .navbar-nav .nav-link.active {
  color: #0076fd;
}

.navbar.fixed-top.navbar-dark .navbar-nav .nav-link::after {
  background-color: #0076fd;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
}

.navbar-brand img {
  margin-right: 5px;
}

#content {
  background: rgba(0, 0, 0, 0.021);
  padding-top: 50px;
}

.home-text {
    text-align: center;
    margin-bottom: 20px;
    padding: 0 10px;
}

.home-icon {
    font-size: 40px;
    margin-bottom: 15px;
}

#vertical-carousel {
  margin-top: 100px;
  margin-left: 8px;
}

#vertical-carousel h3 {
  font-size: 50px;
}

#vertical-carousel p {
  font-size: 20px;
}

.contact {
  padding: 0 20%;
  background: rgba(0, 0, 0, 0.021);
}

.contact i {
  margin: 15px 0 15px 5px;
  font-size: 23px;
  color: rgba(0, 0, 0, 0.600);
}

.contact label {
  margin-left: 5px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.700);
}

.contact input {
  font-size: 18px;
}

.contact textarea {
  font-size: 18px;
}

.contact button {
  background: rgb(0 , 200 , 255);
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
}

.contact button:hover {
  background: rgb(0 , 100 , 255);
  color: #fff;
  transition: linear 600ms;
}

.map-container-6{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
  .map-container-6 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.toTop {
  position: fixed;
  bottom: 25px;
  right: 25px;
  visibility: hidden;
  opacity: 0;
  z-index: 99999;
}

.atvd {
  visibility: visible;
  opacity: 1;
  transition: linear 600ms;
}

.footer {
    background: #000;
}

.copyright {
    text-align: center;
    padding: 20px;
    color: #FFF;
}

.footer-logo {
    color: #FFF;
    font-size: 25px;
    font-family: 'Lobster', cursive;
}

.footer-logo:hover {
    color: #FFF;
    text-decoration: none;
}

.copyright h3 {
    margin-top: 15px;
}

.footer h5 {
  margin: 20px 0 58px 0;
}

.footer p {
  padding: 0;
  margin: 0;
}

.home-h3 {
  font-weight: bold;
}

/* Responsive */

@media screen and (max-width: 800px) {
  .banner h1 {
    font-size: 35px;
  }

  .banner p {
    font-size: 20px;
  }

  .navbar .navbar-brand {
    font-size: 23px;
  }

  .navbar-nav {
    margin: 0;  
  }

  #vertical-carousel h3{
    font-size: 30px;
  }

  .contact {
    padding: 0;
  }

  .contact h2, .contact p {
    text-align: center;
  }
}